@import "compass"

// Variables
// =================================
$paddingDefault : 15px
$marginDefault  : 15px

// View
// =================================
#i-am-hungry-view
  
  .chosen-container-multi
    ul.chosen-choices
      padding: $paddingDefault

  #hungryy-core-container
    padding: $paddingDefault

  #search-food-button
    height      : 150px
    font-size   : 50px
    font-family : Lobster,cursive

  .result-food
    margin: $marginDefault

  


  
