
<article id="i-am-hungry-view" class="container">
  
    <!-- Alert Error -->
  <div class="alert alert-danger" ng-show="requestError">
    <h4>Oh No! Houston, we have a problem...</h4>
    <p ng-model="url">Site: {{url}} </p>
    <p ngModel="errorMessage">{{errorMessage}}</p>
    <br />
    <buttton class="btn btn-warning" ng-click="doAnotherSearch()">Do another search</buttton>
    <button class="btn btn-success" ng-click="loadUrl()">Try again</button>
  </div>

  
  <section id="hungryy-core-container" class="row " >
    <div class="col-md-6 col-md-offset-3">
      
      <!-- Header - I'm so hungry -->
      <div class="row">
        <div class="col-md-12">
          <h1>
            I am so Hungry!!
          </h1>
        </div>
      </div>
    
      <!-- Ingredients - Chosen -->
      <div class="row">
        <div class="col-md-12" style ="color:black;">
          <select 
            chosen 
            multiple 
            id        ="ingredients-select" 
            ng-options="ingredient.id as ingredient.name for ingredient in ingredients.data"
            ng-model  ="selectedIngredients"
            class     ="form-control"
          >   
          </select>
        </div>
      </div>
    </div>
    

  </section>

</article>


