
<article id="i-am-hungry-view" class="container">
  
  <div id="main-background"></div>

  <!-- Alert Error -->
  <div class="alert alert-danger" ng-show="requestError">
    <h4>Oh No! Houston, we have a problem...</h4>
    <p ngModel="errorMessage">{{errorMessage}}</p>
    <br />
    <buttton class="btn btn-warning" ng-click="doAnotherSearch()">Do another search</buttton>
    <button class="btn btn-success" ng-click="loadUrl()">Try again</button>
  </div>

  
  <section id="hungryy-core-container" class="row " >
    <div class="col-md-6 col-md-offset-3">
      
      <!-- Header - I'm so hungry -->
      <div class="row">
        <div class="col-md-12">
          <h2>
            My ingredients...
          </h2>
        </div>
      </div>
    
      <!-- Ingredients - Chosen -->
      <div class="row">
        <div class="col-md-12" style ="color:black;">
          <select 
            chosen 
            multiple 
            id        ="ingredients-select" 
            ng-options="ingredient.id as ingredient.name for ingredient in ingredients"
            ng-model  ="selectedIngredients"
            class     ="form-control"
          >   
          </select>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button 
              id="search-food-button" 
              class="btn btn-primary form-control"
              ng-click="searchFoodByIngredients()">
              Search for food !!
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>

  
  <section>
  
    <!-- <ul class="list-unstyled">
      <li class="result-food" ng-repeat="food in resultFoods">
        

        <div class="jumbotron" ng-model="person">
          <div class="row">
            <div class="media col-md-12">
              <a class="pull-left" href="../styles/img/food/default-img.png">
                <img class="media-object img-circle" src="../styles/img/food/default-img.png" width="150" height="150">
              </a>
              <div class="media-body">
                <h2 class="media-heading">{{food.name}}</h2>
                <p>{{food.description}}</p>
              </div>
            </div>
          </div>
        </div>



      </li>
    </ul> -->


    <ul class="list-unstyled list-inline">
      <li 
        class         ="result-food" 
        ng-repeat     ="food in resultFoods" 
        ng-mouseenter ="mouseenterFoodItemHandler($event)"
        ng-mouseleave ="mouseleaveFoodItemHandler($event)">
        

        <div class="item-result-food-container">
          <h2 style="position:absolute; left:5px; ">{{food.name}}</h2>
          <div class="item-rs-img-container">
            <a href="../styles/img/food/default.jpg">
              <img src="../styles/img/food/default.jpg" width="100%" height="120">
            </a>
          </div>
          <div ng-class="item-rs-footer-container" style="color:black">
            <p style="margin: 10px;">{{food.description}}</p>
            <ul class="list-inline action-icon-list" ng-show="showActionIcons">
              <li class="action-icon">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </li>
              <li class="action-icon">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </li>
              <li class="action-icon">
                <span class="glyphicon glyphicon-user"></span>
              </li>
              <li class="action-icon">
                <span class="glyphicon glyphicon-th-list"></span>
              </li>
            </ul>
          </div>
        </div>


        
      </li>
    </ul>
  </section>



</article>


