/* line 13, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .chosen-container-multi ul.chosen-choices {
  padding: 15px;
}
/* line 16, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view #hungryy-core-container {
  padding: 15px;
}
/* line 19, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view #search-food-button {
  height: 150px;
  font-size: 50px;
  font-family: Lobster, cursive;
}
/* line 24, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .result-food {
  margin: 15px;
}
