/* line 12, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/food/banner.jpg") no-repeat top right;
  width: 100%;
  height: 400px;
  z-index: -1000;
  box-shadow: 0 0 265px 12px #e6e1e1;
}
/* line 23, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .chosen-container-multi ul.chosen-choices {
  padding: 15px;
}
/* line 26, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view #hungryy-core-container {
  padding: 15px;
}
/* line 29, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .result-food {
  margin: 15px;
}
/* line 34, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .item-result-food-container {
  position: relative;
  background: url("../img/food/natural-paper.jpg");
  float: left;
  width: 340px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  cursor: pointer;
}
/* line 46, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .item-result-food-container .item-rs-img-container {
  width: 100%;
  height: 120px;
}
/* line 52, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .item-result-food-container .item-rs-img-container img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/* line 58, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .action-icon-list {
  margin: 0 25%;
}
/* line 63, ../../sass/i-am-hungry/i-am-hungry.sass */
#i-am-hungry-view .action-icon-list li.action-icon {
  font-size: 30px;
}
